.about {
  background-color: $background-light;
  padding: 75px 0 0 30px;
  height: 710px;
}

.about__title {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: $primary;

  &--no-wrap {
    white-space: nowrap;
  }
}
