.about {
  background-color: $background-light;

  @media all and (max-width: $desktop-xl) {
    .about {
      padding: 75px 0 0 30px;
      height: 710px;
    }
  }
}

.about__title {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: $primary;

  &--no-wrap {
    white-space: nowrap;
  }

  &--desktop-xl {
    display: block;
  }

  &--desktop {
    display: none;
    text-align: center;
  }

  @media all and (max-width: $desktop-xl) {
    &--desktop-xl {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
