.about {
  background-color: $background-light;
  min-width: 320px;
  padding: 50px 0 0;
}

.about__title {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: $primary;
  margin: 0;

  @media all and (max-width: $tablet) {
    font-size: 38px;
  }

  @media all and (max-width: $phone) {
    font-size: 25px;
  }

  @media all and (max-width: $small-phone) {
    font-size: 23px;
  }

  &--no-wrap {
    white-space: nowrap;
  }

  &--desktop-xl {
    display: block;
  }

  &--desktop {
    display: none;
    text-align: center;
  }

  @media all and (max-width: $desktop-xl) {
    &--desktop-xl {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}

.about__what-you-get {
  img {
    position: relative;
    margin-top: -50px;
    top: 70px;


    @media all and (max-width: $phone) {
      height: 400px;
    }
  }
}