.brand {
  display: flex;
}

.brand__logo {
  height: 45px;
  margin-right: 17px;
  @media all and (max-width: $phone) {
    height: 30px;
  }
}

.brand__name {
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;

  @media all and (max-width: $phone) {
    font-size: 15px;
  }

  &--emph {
    color: $primary;
    font-style: normal;
  }
}