a.raised-button {
  $hover-transition-duration: 0.4s;

  padding: 7px 35px;
  background-color: $primary;
  font-family: Montserrat, sans-serif;
  color: white;
  border-radius: 30px;
  transition: $hover-transition-duration;

  &:hover {
    background-color: $primary-dark;
    transition: $hover-transition-duration;
    text-decoration: none;
  }
}