.download {
  text-align: center;
  width: 100%;
}

.download__rounded-button--translated {
  position: relative;
  bottom: 15px;
}

.download__description {
  padding-top: 15px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: $regular-text;
  text-transform: capitalize;
}