.download {
  text-align: center;
}

.download__rounded-button--translated {
  position: absolute;
  transform: translate(-50%, -50%);
}

.download__description {
  padding-top: 45px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: $regular-text;
  text-transform: capitalize;
}