.editor__description {
  text-align: center;
}

.editor__h1 {
  margin-top: 60px;
  font-family: Montserrat, sans-serif;
  font-size: 54px;
  font-weight: bold;
  text-transform: uppercase;
  color: $primary-dark;
}

.editor__h2 {
  margin: 0 auto;
  font-family: Source Sans Pro, sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: $dark-text;
}

.editor__github {
  margin: 40px;
}