.footer {
  margin-top: 65px;
  padding-top: 65px;
  border-top: solid 1px $background-light;
  margin-bottom: 95px;

  &__about {
    &__description {
      margin-top: 30px;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      color: $regular-text;
    }
  }

  &__nav {
    &__title {
      font-family: Montserrat, sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: $dark-text;
    }

    &__navbar {
      padding-left: 0;
      list-style-type: none;

      & > li > a {
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: $primary;
        text-transform: capitalize;
        transition: $hover-duration;

        &:hover {
          color: darken($primary, $hover-threshold);
          transition: $hover-duration;
          text-decoration: none;
        }
      }
    }
  }

  &__contact {
    &__phone {
      margin-bottom: 5px;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      font-size: 30px;
      color: #3f3f3f;
    }

    &__availability {
      font-family: Montserrat, sans-serif;
      font-weight: 600;
      font-size: 12px;
      color: $regular-text;
      text-transform: uppercase;
    }

    &__city {
      margin-top: 20px;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      color: $dark-text;
    }

    &__address {
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      color: $regular-text;
    }
  }

  &__info {
    &__title {
      font-family: Montserrat, sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: $dark-text;
    }

    &__description {
      margin-top: 25px;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      color: $regular-text;
    }
  }
}