.header {
  height: 100vh;
  padding-top: 110px;
  width: 100%;
  display: table;
  background: $hero-background;
  min-width: 320px;
}

.header__text {
  display: table-row;
  background: $hero-background;
}

.header__image {
  background: $hero-background url(../img/header/img.png) no-repeat center top / cover;
  display: table-row;
  height: 100%;
}

.header__title {
  font-family: Montserrat, sans-serif;
  font-size: 82px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  text-align: center;
}

.header__subtitle {
  font-family: Lato, sans-serif;
  font-size: 30px;
  color: $primary;
  text-align: center;
  margin-bottom: 0;
  padding: 0 10px;
}

.header__description {
  margin-top: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: $regular-text;
  text-transform: uppercase;
  text-align: center;
}

@media all and (max-width: $tablet) {
  .header__title {
    font-size: 60px;
  }

  .header__subtitle {
    font-size: 20px;
    text-transform: capitalize;
  }


  .header__description {
    font-size: 14px;
  }
}
