$shrinking-duration: 0.4s;

@media all and (min-width: $desktop) {
  .navbar {
    margin: 0 0;
    padding: 0 90px;
    height: 100px;
    transition: height $shrinking-duration;
  }

  .navbar--shrink {
    height: 50px;
    transition: height $shrinking-duration;
  }
}

.navbar {
  background-color: white;
  min-width: 320px;
}

.navbar__content {
  text-align: right;
}

.navbar__content__header {
}

.navbar__content__toggler {
  border: none;
  &:focus {
    outline: none;
  }
}

.navbar__content__body {
}

.navbar__content__button {
  @media all and (max-width: $phone) {
    font-size: 12px;
  }

  @media all and (max-width: $desktop) {
    &--desktop {
      display: none;
    }

    &--phone {
      display: inline;
    }
  }

  @media all and (min-width: $desktop) {
    &--desktop {
      display: inline;
    }

    &--phone {
      display: none;
    }
  }

  @media all and (max-width: $small-phone) {
    &--desktop {
      display: inline;
    }

    &--phone {
      display: none;
    }
  }
}

.navbar__link {
  text-transform: capitalize;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: bolder;
  color: $primary-dark;
  transition: $hover-duration;
  margin: 0 20px;

  @media all and (max-width: $desktop-xl) {
    margin: 0 2px;
  }
}

.navbar__link:hover {
  color: darken($primary-dark, $hover-threshold);
  transition: $hover-duration;
}
