$shrinking-duration: 0.4s;

@media all and (min-width: $desktop) {
  .navbar {
    margin: 0 0;
    padding: 0 90px;
    height: 100px;
    transition: height $shrinking-duration;
  }

  .navbar--shrink {
    height: 50px;
    transition: height $shrinking-duration;
  }
}

.navbar {
  background-color: white;
}

.navbar__content {
  display: flex;
}

.navbar__content__header {
  order: 1;
}

.navbar__content__toggler {
  order: 4;
  border: none;
}

.navbar__content__body {
  order: 2;
}

.navbar__content__button {
  order: 3;
}

.navbar__link {
  text-transform: capitalize;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: bolder;
  color: $primary-dark;
  transition: $hover-duration;
  margin: 0 20px;

  @media all and (max-width: $desktop-xl) {
    margin: 0 5px;
  }
}

.navbar__link:hover {
  color: darken($primary-dark, $hover-threshold);
  transition: $hover-duration;
}
