.reviews {
  margin-top: 85px;
}

.review {
  padding-bottom: 50px;
}

.review__content {
  margin-top: 40px;
  font-family: Source Sans Pro, sans-serif;
  font-size: 20px;
  color: #333333;
  text-align: center;

  @media all and (max-width: $phone) {
    font-size: 15px;
  }

  @media all and (max-width: $small-phone) {
    font-size: 13px;
  }
}

.review__date {
  margin-top: 30px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: $regular-text;
  text-align: center;

  @media all and (max-width: $phone) {
    margin-top: 20px;
    font-size: 12px;
  }

  @media all and (max-width: $small-phone) {
    font-size: 10px;
  }
}