.social__content {
  border-top: solid 1px $line-light;
  padding-top: 50px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;

  @media all and (max-width: $phone) {
    flex-direction: column;
  }
}

.social__stats {
  margin-top: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: $regular-text;
  text-align: center;
}

.social__github,
.social__twitter,
.social__facebook {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}