.testimonials {
  position: relative;
  background: $background-violet url(../img/testimonials/testimonials.png) no-repeat 50% 0;
}

.testimonials__h1 {
  padding: 100px 0;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: capitalize;
}

.testimonial {
  position: relative;
  text-align: center;
  min-height: 180px;

  @media all and (max-width: $phone) {
    margin-bottom: 50px;
  }
  @media all and (min-width: $phone) {
    margin-bottom: 100px;
  }

}

.testimonial__logo {
  padding-bottom: 40px;
}

.testimonial__text {
  @media all and (min-width: $phone) {
    position: absolute;
    bottom: 0;
  }
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: white;
}

.testimonials__delimiter {
  border-bottom: solid 1px $line-dark;
}