$primary: #8d81ac;
$primary-dark: #635c73;
$primary-light: #a599c8;
$regular-text: #848e97;
$dark-text: #323232;
$light-text: #a291a5;

$background-light: #f4f4f4;
$background-violet: #4a3b4e;

$line-light: #f4f4f4;
$line-dark: #655969;

$hover-threshold: 20%;
$hover-duration: 0.3s;

$github-color: #f3f3f3;
$twitter-color: #26a6d1;
$facebook-color: #3b5998;