$primary: #8d81ac;
$primary-dark: #635c73;
$primary-light: #a599c8;
$regular-text: #848e97;
$dark-text: #323232;
$light-text: #a291a5;
$gray-text: #c8cbcf;
$lightgray-text: #d3d1da;

$hero-background: #010005;

$background-light: #f4f4f4;
$background-violet: #4a3b4e;

$line-light: #f4f4f4;
$line-dark: #655969;

$hover-threshold: 20%;
$hover-duration: 0.3s;

$github-color: #f3f3f3;
$twitter-color: #26a6d1;
$facebook-color: #3b5998;

$small-phone: 350px;
$phone: 576px;
$tablet: 768px;
$desktop: 992px;
$desktop-xl: 1200px;